<html>
  <head>
    <title>ConvertMyMoney</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <section class="container"> <!-- section container -->
      <div class="notice">
        <p><strong>Aviso</strong>: O sistema não fornecerá a cotação do dólar nos finais de semana, nem nos feriados.</p>
      </div>
      <div class="logo">
        <a href="/">
          <img src="/logo-new.svg" alt="Convert My Money">
        </a>
      </div>
    