<html>
  <head>
    <title>ConvertMyMoney</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <section class="container"> <!-- section container -->
      <div class="logo">
        <a href="/">
          <img src="/logo-new.svg" alt="Convert My Money">
        </a>
      </div>
    