<html>
  <head>
    <title>ConvertMyMoney</title>
    <link rel="stylesheet" href="/public/css/style.css">
  </head>
  <body>
    <h1>
      <a href="/">
        <img src="/public/logo.png" alt="Convert My Money">
      </a>
    </h1>
    