<%- include('header') %>

<form action="">
  <input type="text" placeholder="Cotação dólar">
  <input type="text" placeholder="Qunatidade de dólares">
  <button type="button">Converter</button>
</form>

<%- include('footer') %>