<%- include('header') %>

<form method="GET" action="/cotacao">
  <input type="text" name="cotacao" placeholder="Cotação dólar" value="<%= cotacao %>">
  <h2><%= cotacao %></h2>
  <input type="text" name="quantidade" placeholder="Qunatidade de dólares">
  <button type="submit">Converter</button>
</form>

<%- include('footer') %>