body {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  justify-content: center;
  height: 100vh;
}

.logo {
  width: 50vw;
  display: flex;
  justify-content: center;
}

.logo img {
  position: absolute;
  top: 25%;
  left: 5%;  
}

.content,
.result {
  width: 50vw;
  display: flex;
  background: #00CC76;
}

img {
  width: 489px;
  margin: 20px;
}