body {
  text-align: center;
}

h1 img {
  width: 489px;
  margin: 20px;
}

input {
  display: block;
  margin: 10px auto;
  background: #FDFDFD;
  font-size: 20px;
  padding: 10px;
}

button {
  margin: 20px;
  padding: 10px;
  font-size: 20px;
  background-color: #11a818;
  color: #FFF;
  border-radius: 5px;
}

.result {
  padding: 10px;
  border: 1px solid #D8D8D8;
  background-color: #fdfdfd;
}